#logo{
  display:inline-block;
  margin:0px;
  font-size:20px;
  width:100%;
  background-color:lightgrey;
  position:fixed;
  top:0;
  left:0;
}
.topnav input[type=text] {
  display:inline-block;
  border: none;
  font-size: 17px;
  width:15%;
  height:24px;
  margin:0px;
  padding:0px;
  position:fixed;
  top:0px;
  left:80%;
}

.topnav .search-container button {
  display:inline-block;
  background: #ddd;
  position:fixed;
  top:0px;
  left:95%;
  width:5%;
  border:none;
  padding:0px;
  height:24px;
}

#restuarantName{
  display:inline-block;
  text-align:center;
  width:100%;
}

#restuarantImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#restuarantText{
  display:inline-block;
  text-align:center;
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
}
#map{
  display:inline-block;
  position:relative;
  top:50px;
  left:150px;
}
.operatingHours{
  list-style-type: none;
  display:inline-block;
  position:relative;
  bottom:100px;
  left:300px;
  font-size:25px;
}
footer{
  background-color:lightgrey;
  position:relative;
  top:50px;
}
#about{
  position:relative;
  left:93%;
}
